<KrossScripting>
    <collection comment="Tools" name="tools" text="Tools" >
        <script text="Kaynak Metni Gömülü Olarak Google Translate'te Çevir"
                name="embedded-google-translate"
                file="embedded-google-translate.py"
                interpreter="python"/>
    </collection>
</KrossScripting>
